# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ========================
# Marxan Executable Files
# ========================

Marxan_x64.exe
Marxan.exe
MarOpt_v243_Mac64
MarOpt_v243_Mac32
MarOpt_v243_Linux32
MarOpt_v243_Linux64


# ========================
# Package Binaries and other stuff that should not be github
# ========================
src-x64
src-i386
admin
.dll
.o


# ========================
# Github stuff
# ========================
.gitattributes
.gitignore
.Rhistory

